
.app {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(219, 250, 239);
  padding: 20px 0px;
}

.appContainer {
  width:90%;
  margin: 10px auto;
}

.dropContainer {
  max-width: 100% !important;
  height: 140px !important;
}